.static-object-hinting{
-fx-border-width: 1px;
-fx-border-color: #999999;
-fx-border-radius: 1px;

-fx-background-radius: 1px;}

.object-item{
    -fx-border-color: transparent;
    -fx-border-width: 2px;
}

.object-item:hover{
    -fx-border-color: #395D77 ;
    -fx-border-width: 2px;
}

.object-item:pressed{
    -fx-border-color: #D0D0D0;
    -fx-border-width: 2px;
}


.main-item{
    -fx-background-color: #FCFAFA;
    -fx-border-color: #FCFAFA;
    -fx-border-width: 3px;
}

.main-item:hover{
    -fx-border-color: #F0F0F0 ;
    -fx-border-width: 3px;
}

.main-item:pressed{
    -fx-border-color: #D0D0D0;
    -fx-border-width: 3px;
}


