.pane {
    -fx-background-color: #FCFAFA;
    -fx-font: 0pt "Arial";
    -fx-text-fill: #FCFAFA;
    -fx-effect: innershadow( gaussian , rgba(0, 0, 0, 0.25) , 3 , 0.3 , -1 , 1 );
    -fx-background-radius : 0.1em;
    -fx-border-width: 0px;
}

.label {
    -fx-font: bold 18px "Arial";
    -fx-text-fill: #2E3235;
    -fx-text-alignment: center;
}

.paneDarker {
    -fx-background-color: #DDE9EC;
    -fx-font: 0pt "Arial";
    -fx-text-fill: #FCFAFA;
    -fx-effect: innershadow( gaussian , rgba(0, 0, 0, 0.25) , 3 , 0.3 , -1 , 1 );
    -fx-background-radius : 0.0em;
    -fx-border-width: 0px;
}

.labelDarker {
    -fx-font: bold 20px "Arial";
    -fx-text-fill: #2E3235;
    -fx-text-alignment: center;
}