.flow-pane {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
}

.vBox {
    -fx-background-color: #FCFAFA;
}

.scroll-pane {
    -fx-background: #eeebeb;
    -fx-background-color: #eeebeb;
    -fx-border-width: 0 0 0 12;
    -fx-border-color: #FCFAFA;
}

.shoppingCartEdge {
    -fx-background-color: #274156;
    -fx-border-width: 0px;
}

#shoppingCartTextTotal {
    -fx-font: 22px "Helvetica";
    -fx-text-fill: #FCFAFA;
}

#shoppingCartTextAmount {
    -fx-font: bold 20px "Helvetica";
    -fx-text-fill: #FCFAFA;
}