.borderpane-container {
    -fx-background-color: #F3F0F0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.categorizes-anchor {
    -fx-background-color: #F3F0F0;
    -fx-border-width: 0 8 0 0;
    -fx-border-color: #FCFAFA;
}

.categorizes {
    -fx-background-color: #F3F0F0;
    -fx-border-width: 0;
}

.categorizes-accordion {
    -fx-background: #F3F0F0;
    -fx-background-color: #F3F0F0;
    -fx-border-width: 0px;
}

.anchor-pane {
    -fx-background: #F3F0F0;
    -fx-background-color: #F3F0F0;
    -fx-border-width: 0px;
}