.borderpane-container {
    -fx-background-color: #eeebeb;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.categorizes-anchor {
    -fx-background-color: #eeebeb;
    -fx-border-width: 0 12 0 0;
    -fx-border-color: #eeebeb;
}

.categorizes {
    -fx-background-color: #eeebeb;
    -fx-border-width: 0;
}

.categorizes-accordion {
    -fx-background: #eeebeb;
    -fx-background-color: #eeebeb;
    -fx-border-width: 0px;
}

.anchor-pane {
    -fx-background: #eeebeb;
    -fx-background-color: #eeebeb;
    -fx-border-width: 0px;
}