.button {
    -fx-background-color: #FCFAFA;
    -fx-font: 16pt "Helvetica";
    -fx-text-fill: #2E3235;
    -fx-background-radius : 0.0em;
}

.button:hover {
    -fx-background-color: #FCFAFA;
    -fx-font: 16pt "Helvetica";
    -fx-text-fill: #2E3235;
    -fx-effect: innershadow( gaussian , rgba(0, 0, 0, 0.25) , 2 , 0.6 , -1 , 1 );
    -fx-background-radius : 0.0em;
}

.button:pressed {
    -fx-background-color: #559CAD;
    -fx-font: 16pt "Helvetica";
    -fx-text-fill: #FCFAFA;
    -fx-effect: innershadow( gaussian , rgba(0, 0, 0, 0.25) , 2 , 0.6 , -1 , 1 );
    -fx-background-radius : 0.0em;
}

.borderpane-container {
    -fx-background-color: #F3F0F0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.categorizes-anchor {
    -fx-background-color: #F3F0F0;
    -fx-border-width: 0 8 0 0;
    -fx-border-color: #FCFAFA;
}

.categorizes {
    -fx-background-color: #F3F0F0;
    -fx-border-width: 0;
}

.categorizes-accordion {
    -fx-background: #F3F0F0;
    -fx-background-color: #F3F0F0;
    -fx-border-width: 0px;
}