.button {
    -fx-background-color: #FFFFFF;
    -fx-font: 10pt "Arial";
    -fx-text-fill: #7D3E3E;
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.25) , 2 , 0.4 , 0 , 1 );
    -fx-background-radius : 0.1em;
    -fx-border-radius: 0.1em;
}

.button:hover {
    -fx-background-color: #8E4A4A;
    -fx-font: 14pt "Arial";
    -fx-text-fill: #2E3235;
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.25) , 2 , 0.4 , 0 , 1 );
    -fx-background-radius : 0.1em;
    -fx-border-width: 0px;
}

.button:pressed {
    -fx-background-color: #713B3B;
    -fx-font: 14pt "Arial";
    -fx-text-fill: #2E3235;
    -fx-effect: innershadow( gaussian , rgba(0, 0, 0, 0.25) , 2 , 0.3 , 1 , 1 );
    -fx-background-radius : 0.1em;
    -fx-border-width: 0px;
}