.background {
    -fx-background-color: rgba(0, 0, 0, 0.75);
}

.main-pane {
    -fx-background-color: #FCFAFA;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 5px;
}

.detail-pane {
    -fx-background-color: #F3F0F0;
}

.label {
    -fx-font: 34px "Arial";
    -fx-text-fill: #2E3235;
}

.label-rubrik {
    -fx-font: bold 36px "Arial";
    -fx-text-fill: #2E3235;
}

.label-eko {
    -fx-font: bold 52px "Arial";
    -fx-text-fill: #FCFAFA;
}

.numOfItemsText {
    -fx-background-color: #395d77;
    -fx-font-size: 45;
    -fx-text-fill: #000000;
    -fx-font-scale: BOLD;
}

.numOfItemsButton {
    -fx-background-color: #395d77;
}