.button {
    -fx-background-color: transparent;
    -fx-background-radius : 0.0em;
    -fx-font: 22pt "Arial";
    -fx-text-fill: #2E3235;
}

.button:hover {
    -fx-text-fill: #559CAD;
}

.button:pressed {
    -fx-text-fill: #274156;
}