.button {
    -fx-background-color: #FCFAFA;
    -fx-font: bold 16pt "Arial";
    -fx-text-fill: #2E3235;
    -fx-background-radius : 0.0em;
}

.button:hover {
    -fx-background-color: #FCFAFA;
    -fx-font: bold 16pt "Arial";
    -fx-text-fill: #559CAD;
    -fx-background-radius : 0.0em;
}

.button:pressed {
    -fx-background-color: #559CAD;
    -fx-font: bold 16pt "Arial";
    -fx-text-fill: #274156;
    -fx-background-radius : 0.0em;
}

.button:focused {
    -fx-background-color: #559CAD;
    -fx-font: bold 16pt "Arial";
    -fx-border-color: #F3F0F0;
    -fx-text-fill: #FCFAFA;
}