.button {
    -fx-background-color: #6AB052;
    -fx-font: 16pt "Arial";
    -fx-text-fill: #FCFAFA;
    -fx-effect: innershadow( gaussian , rgba(255, 255, 255, 0.25) , 1 , 0.3 , -1 , 1 );
    -fx-background-radius : 0.1em;
}

.button:hover {
    -fx-background-color: #85C66E;
    -fx-font: 16pt "Arial";
    -fx-text-fill: #FCFAFA;
    -fx-effect: innershadow( gaussian , rgba(255, 255, 255, 0.25) , 1 , 0.3 , -1 , 1 );
    -fx-background-radius : 0.1em;
}

.button:pressed {
    -fx-background-color: #85C66E;
    -fx-font: 16pt "Arial";
    -fx-text-fill: #FCFAFA;
    -fx-effect: innershadow( gaussian , rgba(0, 0, 0, 0.25) , 3 , 0.3 , 1 , 1 );
    -fx-background-radius : 0.1em;
}