.borderPane {
    -fx-border-width: 0px;
    -fx-border-color: transparent;
}

.detailViewBackground {
.background {
    -fx-background-color: rgba(0, 0, 0, 0.75);
}

.pane {
    -fx-background-color:  #395d77;
    -fx-border-color: #606060;
    -fx-border-width: 5px;
}

.closeButton {
    -fx-background-color: rgb(255, 30, 30);
}

.topPanel {
    -fx-background-color: #395d77;
    -fx-border-width: 0px;
}

.gridPanel {
    -fx-background-color: #F3F0F0;
    -fx-border-width: 0px;
}

.scrollPanel {
    -fx-background: #F3F0F0;
    -fx-background-color: #F3F0F0;
    -fx-border-width: 0px;
}

#kontoText {
    -fx-font: bold 24px "Helvetica";
    -fx-text-fill: #FCFAFA;
}