.favoriteButton {
    -fx-background-color: transparent;
    -fx-border-width: 2px;
}

.favoriteButton:hover {
    -fx-background-color: transparent;
    -fx-effect: innershadow( gaussian , rgba(255, 255, 255, 0.7) , 5 , 0.3 , -1 , 1 );
    -fx-background-radius : 0.1em;
    -fx-border-width: 2px;
}

.favoriteButton:pressed {
    -fx-background-color: transparent;
    -fx-effect: innershadow( gaussian , rgba(0, 0, 0, 0.7) , 5 , 0.3 , -1 , 1 );
    -fx-background-radius : 0.1em;
}

.main-item {
    -fx-background-color: #F3FAFA;
}

