.item {
    -fx-background-color: #FCFAFA;
    -fx-border-color: #eeebeb;
    -fx-border-width: 3px;
}

.text-area{
    -fx-background-color: #FCFAFA;
    -fx-font: 14pt "Arial";
    -fx-font-color: #2E3235;
    -fx-padding: 0px;
}

.text-area .content{
    -fx-background-color: #F3F0F0;
    -fx-font: 13pt "Arial";
    -fx-font-color: #2E3235;
    -fx-border-width: 0px;
     -fx-padding: 10px;
}

.text-area2{
    -fx-background-color: #FCFAFA;
    -fx-font: 14pt "Arial";
    -fx-font-color: #2E3235;
    -fx-border-width: 0px;
    -fx-padding: 0px;
}

.text-area2 .content{
    -fx-background-color: #F3F0F0;
    -fx-font: 13pt "Arial";
    -fx-font-color: #2E3235;
    -fx-border-width: 0px;
     -fx-padding: 10px;
}
.text-area3{
    -fx-background-color: #FCFAFA;
    -fx-font: bold 14pt "Arial";
    -fx-font-color: #2E3235;
    -fx-text-alignment: centre-left;
    -fx-padding: 0px;
}

.text-area3 .content{
    -fx-background-color: #F3F0F0;
    -fx-font: 13pt "Arial";
    -fx-font-color: #2E3235;
    -fx-border-width: 0px;
     -fx-padding: 10px;
         -fx-text-alignment: center-right;
}

#label {
    -fx-font: 16pt "Arial";
    -fx-font-color: #2E3235;
}

#label-date {
    -fx-font: 20pt "Arial";
    -fx-font-color: #2E3235;
}

#label-money-amount {
    -fx-font: bold 16pt "Arial";
    -fx-font-color: #2E3235;
}