.button {
    -fx-background-color: #FCFAFA;
    -fx-font: 14pt "Arial";
    -fx-text-fill: #2E3235;
    -fx-effect: innershadow( gaussian , rgba(255, 255, 255, 0.25) , 1 , 0.3 , -1 , 1 );
    -fx-background-radius : 0.0em;
    -fx-border-width: 2px;
    -fx-border-color: #6AB052;
}

.button:hover {
    -fx-background-color: #FFFFFF;
    -fx-font: 14pt "Arial";
    -fx-text-fill: #2E3235;
    -fx-effect: innershadow( gaussian , rgba(255, 255, 255, 0.25) , 1 , 0.3 , -1 , 1 );
    -fx-background-radius : 0.0em;
    -fx-border-width: 2px;
    -fx-border-color: #85C66E;
}

.button:pressed {
    -fx-background-color: #FFFFFF;
    -fx-font: 14pt "Arial";
    -fx-text-fill: #2E3235;
    -fx-effect: innershadow( gaussian , rgba(0, 0, 0, 0.25) , 3 , 0.3 , 1 , 1 );
    -fx-background-radius : 0.0em;
    -fx-border-width: 2px;
    -fx-border-color: #85C66E;
}