.background {
    -fx-background-color: rgba(0, 0, 0, 0.75);
}

.pane {
    -fx-background-color:  #395d77;
    -fx-border-color: #606060;
    -fx-border-width: 5px;
}

.textBackground {
    -fx-background-color: #ffffff;
    -fx-border-width: 10px;
    -fx-border-color: rgba(0, 0, 0, 0); /* Osynlig border s책 texten inte 채r s책 n채ra kanten */
}

.closeButton {
    -fx-background-color: rgb(255, 30, 30);
}

.topPanel {
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.2) , 5 , 0.5 , 5 , 5 );
    -fx-border-width: 0px;
}

.gridPanel {
    -fx-background-color: #F3F0F0;
    -fx-border-width: 0px;
}

.shoppingCart {
    -fx-background-color: #FCFAFA;
    -fx-border-width: 0px;
}

.categorizes {
    -fx-background-color: #F3F0F0;
    -fx-border-width: 0px;
}

.shoppingCartEdge {
    -fx-background-color: #274156;
    -fx-border-width: 0px;
}

#shoppingCartTextTotal {
    -fx-font: 19px "Helvetica";
    -fx-text-fill: #FCFAFA;
}

#shoppingCartTextAmount {
    -fx-font: bold 16px "Helvetica";
    -fx-text-fill: #FCFAFA;
}